<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="code.js" defer></script>
    <title>Calculator</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="x">
        <input type="text" v-model="y">
        <div class="result" v-text="result"> </div>
        <button v-on:click="getRandom">Посмотреть рандомное число из вычисленных</button>
        <h3> Случайное число {{ random }}</h3>
    </div>
</body>
</html>